html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #DCDCDC;
}

.jumbotron {
    background: url("../assets/backgrounds/h_img.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}


.container {
    width: 100%;
}
#about {
    background-color: #DCDCDC;
    padding-top: 40px;
    padding-bottom: 80px;
}
#services {
    background: url("../assets/backgrounds/s_image.jpg") no-repeat;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}
#portfolio {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
#portfolio2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
#click, html {
    scroll-behavior: smooth;
}
#contact {    
    background: url("../assets/backgrounds/c_image.jpg") no-repeat;
    color: white;
    text-shadow: 1px 1px black;
    margin-bottom: 50px;
    
}
#contact-form {
    color: white;
    text-shadow: 1px 1px black;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
#msg{
    width: 100%;
    border:1px solid;
  border-radius:2px;
  padding-left:10px;
  padding-top:5px;
  font-size:15px;
  margin-bottom: 50px;
}
input, textarea {
    background-color: rgba(0,0,0,0.0);
}

.servicedesc{
   text-decoration: none;
    padding-bottom: 30px;  
}

/* section {
    height: 50vh;
} */